html, body  {
    height: 100%;
}

h2 {text-align:center;}

#wrapper {
    height: calc(100% - 2px); /* for border */
    background:white;
    width:100%;
    position:relative;
    border: 1px solid black;
    /* black border */
    margin:auto;
    /* centre this div */
}

#menu {
    height: calc(100% - 114px); /* for header */
    width: 12%;
    float:left;
    padding:0;
    margin:0;
    text-align:left;
    background-color: #eee8aa;
    border-right:2px solid black;
    border-left:2px solid black;
}

#menu_list {
	list-style-type:none;
	text-align:left;
	margin-left: 8%;
	padding:5px 0 0 5px;
}

#header {
    height:90px;
    text-align:center;
    padding: .5em;
    background-color: grey;
    border-bottom: 2px solid black;
}

#content {
    background-color:white;
    margin-left:250px;
}

code {
	background-color: ghostwhite;
	width: 50%;
}
/* DivTable.com */
.divTable{
	display: table;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableHead {
	border: 4px solid #999999;
	display: table-cell;
	padding: 3px 10px;
	background-color: #EEE;
	text-align: center;
}
.divTableCell {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
